<h1>Admins#top</h1>
<p>Find me in app/views/admins/top.html.erb</p>

<div class="container">
	<div class="row">
		<h3>カレンダー</h3>
	</div>
	<div>
		<%= month_calendar(events: @calendars) do |date, calendars| %>
			<%= date.day %>
			<% calendars.each do |calendar| %>
			<%= calendar.title %>
				<div>
					<% if calendar.check == true %>
						<%= link_to "〇", admin_calendar_path(calendar, params: {check: true}), method: :put %>
					<% elsif calendar.check == false %>
						<%= link_to "×", admin_calendar_path(calendar, params: {check: false}), method: :put %>
					<% end %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>