<div>
  <h2>Sign up</h2>
</div>

<div>  
  <%= form_for @online, url: {action: "confirm"} do |f| %>
    <%= render "onlines/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :first_name, "名前(姓)" %><br />
      <%= f.text_field :first_name, autofocus: true, placeholder: "例) 稲荷" %>
    </div>

    <div class="field">
      <%= f.label :last_name, "名前(名)" %><br />
      <%= f.text_field :last_name, placeholder: "例) 太郎" %>
    </div>

    <div class="field">
      <%= f.label :kana_name, "名前(カナ)" %><br />
      <%= f.text_field :kana_name, placeholder: "例) イナリ　タロウ" %>
    </div>

    <div class="field">
      <%= f.label :parent_name, "名前(保護者)" %><br />
      <%= f.text_field :parent_name, placeholder: "例) 達也" %>
    </div>

    <div class="field">
      <%= f.label :gender, "性別" %><br />
      <%= f.radio_button :gender, :男性 %>
      <%= f.label :男性 %>
      <%= f.radio_button :gender, :女性 %>
      <%= f.label :女性 %>
    </div>

    <div class="field">
      <%= f.label :birthday, "生年月日" %><br />
      <%= f.date_field :birthday %>
    </div>

    <div class="field">
      <%= f.label :school, "2021年4月からの学校名" %><br />
      <%= f.text_field :school, placeholder: "例) 京都高校" %>
    </div>

    <div class="field">
      <%= f.label :grade, "2021年4月からの学年" %><br />
      <%= f.select :grade, Online.grades.keys, class: "grade" %>
    </div>

    <div class="field">
      <%= f.label :postal_code, "郵便番号" %><br />
      <%= f.text_field :postal_code, placeholder: "例) 000-0000" %>
    </div>

    <div class="field">
      <%= f.label :prefecture, "都道府県" %><br />
      <%= f.select :prefecture, Online.prefectures.keys, class: "prefecture" %>
    </div>

    <div class="field">
      <%= f.label :address, "市区町村以下の住所" %><br />
      <%= f.text_field :address, placeholder: "例) 長岡京市開田０－０－０" %>
    </div>

    <div class="field">
      <%= f.label :phone, "電話番号" %><br />
      <%= f.text_field :phone, placeholder: "例) 000-0000-0000" %>
    </div>

    <div class="field">
      <%= f.label :email, "E-mail" %><br />
      <%= f.email_field :email, placeholder: "例) xxxx@xxx" %>
    </div>

    <div class="field">
      <%= f.label :parent_email, "E-mail(保護者)" %><br />
      <%= f.email_field :parent_email, placeholder: "例) yyyy@yyy" %>
    </div>

    <div class="field">
      <%= f.label :subject, "受講科目" %><br />
      <%= f.select :subject, Online.subjects.keys, class: "subject" %>
    </div>

    <div class="actions">
      <%= f.submit "confirm" %>
    </div>
  <% end %>
</div>

<%= render "onlines/shared/links" %>
