<p><%= @online.first_name %> <%= @online.parent_name %> 様</p>
<p>※このメールアドレスは配信専用ですので、返信しないようお願いします。</p>
<p>
  いつもお世話になっております。<br>
  <%= @online.first_name %><%= @online.last_name %>様の受講についてのご連絡です。
</p>
<p>
  次の講座(<%= @payment.course %>)の受講申し込みがありましたので、以下の通り、受講料のお振込みをお願いいたします。<br>
  振込手数料につきましては、保護者様のご負担でお願いしております。ご了承ください。
</p>
<p>
  振込先：以下の3つの金融機関からご選択ください。<br>
    &emsp;① ゆうちょ銀行 14450-12098621 (店名:四四八) 普通 イナリマコト<br>
    &emsp;② 三井住友銀行 京都支店 普通 イナリマコト 口座番号7206876<br>
    &emsp;③ 三菱UFJ銀行 東向日町支店 普通 イナリマコト 口座番号0162921<br>
  お振込名義：<%= @online.kana_name %><br>
  金額：40,000円
</p>
<p>◆注意◆ お振込み名義には必ず受付番号と受講者様のお名前をご記入ください。</p>
<p>お振込みいただいた後、3営業日以内に確認し、ご連絡をさせていただきます。</p>
<p>
  [お振込み期日について]<br>
  お振込み期日の設定はありません。<br>
  現在受講中の講座がある方は、受講料のお振込みが確認でき、現在受講中の講座が終了したら、次の講座が開始されます。<br>
  現在受講中の講座がない方(最後に受講した講座がすでに終了している方)は、受講料のお振込みが確認でき次第、次の講座が開始されます。<br>
</p>
<p>受講に関して、ご不明点やお困りごとがございましたら、以下のお問い合わせフォームからお問い合わせください。</p>
<p>
  「お問い合わせ」フォーム<br>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSdPe5JB7cmNgupFeAbH_nqYy48MYf_DTBKQfrACZ7G-7ld5pQ/viewform?usp=sf_link">https://docs.google.com/forms/d/e/1FAIpQLSdPe5JB7cmNgupFeAbH_nqYy48MYf_DTBKQfrACZ7G-7ld5pQ/viewform?usp=sf_link</a>
</p>
<p>よろしくお願いいたします。</p>
<p>稲荷塾</p>
