<h1>Math::IaFirst#index</h1>
<p>Find me in app/views/math/ia_first/index.html.erb</p>

<div>
	<%= link_to "Postphone", math_ia_first_postphone_path, "data-confirm" => "本当に延期しますか?" %>
</div>

<div>
	<% for num in 1..22 do %>
		<div>
			<div>
				<p><%= "Lesson" %><%= num %></p>
				<p>提出期限：<%= @subject["lesson#{num}"].strftime("%Y/%m/%d") %></p>
			</div>
			<!-- 単元テストの条件分岐 -->
			<% if num == 8 || num == 15 || num == 22 %>
				<ul>
					<li>
						<% if @subject.question >= num %>
							<% if @subject.stage >= 1 %>
								<% if @studies.find_by(question_id: num) == nil %>
									<% if current_online.status == "有効" %>
										<%= link_to "単元テスト問題", math_ia_first_test_path(num), method: :get,
											data:{confirm: "テストを開始しますか？", cancel: "キャンセル", commit: "開始する"},
											title: "内容確認" %>
									<% else %>
										<%= "テスト問題" %>
									<% end %>
								<% else %>
									<%= link_to "単元テスト問題", math_ia_first_test_path(num) %>
								<% end %>
							<% end %>
						<% else %>
							<%= "単元テスト問題" %>
						<% end %>
					</li>
					<li>
						<% if @subject.question >= num %>
							<% if @subject.question > num || @subject.stage >= 2 %>
								<%= link_to "単元テスト解答", math_ia_first_test_answer_path(num) %>
							<% else %>
								<%= "単元テスト解答" %>
							<% end %>
						<% else %>
							<%= "単元テスト解答" %>
						<% end %>
					</li>
				</ul>
			<% else %>
				<ul>
					<li>
						<% if @subject.question >= num %>
							<% if @subject.stage >= 1 %>
								<% if @studies.find_by(question_id: num) == nil %>
									<% if current_online.status == "有効" %>
										<%= link_to "テスト問題", math_ia_first_test_path(num), method: :get,
											data:{confirm: "テストを開始しますか？", cancel: "キャンセル", commit: "開始する"},
											title: "内容確認" %>
									<% else %>
										<%= "テスト問題" %>
									<% end %>
								<% else %>
									<%= link_to "テスト問題", math_ia_first_test_path(num) %>
								<% end %>
							<% end %>
						<% else %>
							<%= "テスト問題" %>
						<% end %>
					</li>
					<li>
						<% if @subject.question >= num %>
							<% if @subject.question > num || @subject.stage >= 2 %>
								<%= link_to "テスト解答", math_ia_first_test_answer_path(num) %>
							<% else %>
								<%= "テスト解答" %>
							<% end %>
						<% else %>
							<%= "テスト解答" %>
						<% end %>
					</li>
					<li>
						<% if @subject.question >= num %>
							<% if @subject.question > num || @subject.stage >= 3 %>
								<%= link_to "演習問題", math_ia_first_exercise_path(num) %>
							<% else %>
								<%= "演習問題" %>
							<% end %>
						<% else %>
							<%= "演習問題" %>
						<% end %>
					</li>
					<li>
						<% if @subject.question >= num %>
							<% if @subject.question > num || @subject.stage >= 4 %>
								<%= link_to "演習解答", math_ia_first_exercise_answer_path(num) %>
							<% else %>
								<%= "演習解答" %>
							<% end %>
						<% else %>
							<%= "演習解答" %>
						<% end %>
					</li>
				</ul>
				<% end %>
		</div>
	<% end %>
</div>
