<h1>Math::IaFirst#test</h1>
<p>Find me in app/views/math/ia_first/test.html.erb</p>

<% for id in @id do %>
	<figure>
		<img src='/assets/math_iaf_test_<%= id %>.png' alt="">
	</figure>
<% end %>

<%= form_for(@study, url: math_ia_first_index_path) do |f| %>
	<div><%= f.attachment_field :answer_images_images, multiple: true %></div>
	<div>
		<%= f.hidden_field :params, :value => @parameter %>
		<%= f.hidden_field :question_id %>
		<%= f.submit "send" %>
	</div>
<% end %>