<h1>Math::IaFirst#test</h1>
<p>Find me in app/views/math/ia_first/test.html.erb</p>

<div class="answer_time" data-json="<%= @timeArray.to_json %>"></div>
<% for id in @id do %>
	<figure>
		<img src='/assets/math_iaf_test_<%= id %>.png' alt="">
	</figure>
<% end %>

<%= form_for(@study, url: math_ia_first_path) do |f| %>
	<div><%= f.attachment_field :answer_images_images, multiple: true %></div>
	<div><%= f.submit "send" %></div>
<% end %>
<img id="preview_0" style="width:30%;">
<img id="preview_1" style="width:30%;">
<img id="preview_2" style="width:30%;">
<img id="preview_3" style="width:30%;">
<img id="preview_4" style="width:30%;">
<img id="preview_5" style="width:30%;">
<img id="preview_6" style="width:30%;">
<img id="preview_7" style="width:30%;">
<img id="preview_8" style="width:30%;">
<img id="preview_9" style="width:30%;">
<img id="preview_10" style="width:30%;">
<img id="preview_11" style="width:30%;">


<script>
	const timeJSON = JSON.parse(document.querySelector('.answer_time').dataset.json);
	const startTime = Date.parse(timeJSON[0]);
	const answerTime = timeJSON[1];

	if (answerTime === null){
		setInterval(() => {
			const currentTime = Date.now();
			const diff = parseInt((currentTime - startTime) / 1000);
			const minute = ('00' + parseInt(diff / 60)).slice(-2);
			const second = ('00' + diff % 60).slice(-2);
			document.querySelector('.answer_time').innerHTML = `${minute}:${second}`
		});
	}

	
	$('#study_answer_images_images').on('change', function (e) {
		// 初期化
		let reader = new FileReader(12);
		for (let i = 0; i < 12; i++) {
			$(`#preview_${i}`).attr('src', "");
		}

		for (let i = 0; i < e.target.files.length; i++) {
			reader[i] = new FileReader();
			reader[i].onload = finisher(i, e);
			reader[i].readAsDataURL(e.target.files[i]);

			function finisher(i, e) {
				return function(e) {
					$(`#preview_${i}`).attr('src', e.target.result);
				}
			}
		}
	});
</script>