<h1>Studies#index</h1>
<p>Find me in app/views/studies/index.html.erb</p>

<div class="container">
	<div class="row">
		<h3>学習履歴一覧</h3>
	</div>
	<div class="row">
		<table>
			<thead>
				<th>クラス</th>
				<th>問題番号</th>
				<th>学習日時</th>
				<th>得点</th>
			</thead>
			<% @studies.each do |study| %>
				<tbody>
					<td><%= study.online.course %></td>
					<% if study.question.title.include?("iaf") %>
						<td><%= study.question.title.delete("math_iaf_test_").slice(0..1) %></td>
					<% elsif study.question.title.include?("ias") %>
						<td><%= study.question.title.delete("math_ias_test_").slice(0..1) %></td>
					<% elsif study.question.title.include?("iibf") %>
						<td><%= study.question.title.delete("math_iibf_test_").slice(0..1) %></td>
					<% elsif study.question.title.include?("iibs") %>
						<td><%= study.question.title.delete("math_iibs_test_").slice(0..1) %></td>
					<% elsif study.question.title.include?("iiicf") %>
						<td><%= study.question.title.delete("math_iiicf_test_").slice(0..1) %></td>
					<% elsif study.question.title.include?("iiics") %>
						<td><%= study.question.title.delete("math_iiics_test_").slice(0..1) %></td>
					<% end %>
					<td>
						<%= study.created_at.strftime("%Y/%m/%d %H:%M") %>
					</td>
					<td>
						<% if study.score.present? %>
							<%= link_to study_path(study) do %>
								<%= study.score %> 点
							<% end %>
						<% else %>
							<%= "採点中" %>
						<% end %>
					</td>
				</tbody>
			<% end %>
		</table>
	</div>
</div>
