<div class="row">
  <div class="col-md-4">
    <div class="card margin-vertical-20">
      <div class="card-header text-center">
        <h5>受講生情報</h5>
      </div>
      <div class="card-body">
        <%= render 'online-info', study: @study %>
      </div>
    </div>
  </div>
  <!-- 採点 -->
  <div class="col-md-8">
    <div class="card margin-vertical-20">
      <div class="card-header text-center">
        <h4>採点</h4>
      </div>
      <div class="card-body">
        <%= form_for(@study, url: admin_study_path) do |f| %>
          <div class="input-group my-3">
            <span class="input-group-text text-light bg-primary">採点結果</span>
            <%= f.number_field :score, autofocus: true, autocomplete: "score", class: "form-control score" %>
          </div>
          <div class="input-group my-3">
            <%= f.attachment_field :correction_images_images, multiple: true, onchange: 'selectFile(this)', class: "form-control" %>
            <%= f.submit "送信する", id: 'send', disabled: true, class: "btn btn-primary" %>
          </div>
        <% end %>
        <div id="preview"></div>
      </div>
    </div>
  </div>
</div>


<script>
  const score = document.querySelector('.score');
  const inputCorrection = document.getElementById('study_correction_images_images');

  score.addEventListener('input', handleChange);
  inputCorrection.addEventListener('change', handleChange);


  function selectFile(correction_image) {
    while (preview.firstChild) {
      preview.removeChild(preview.firstChild);
    }

    for (let i = 0; i < correction_image.files.length; i++) {
      let reader = new FileReader();
      reader.onload = (function (e) {
        let img = new Image();
        img.classList.add('mb-3');
        img.classList.add('mx-1');
        img.classList.add('border');
        img.src = e.target.result;
        img.style.width = "30%";
        document.getElementById('preview').appendChild(img);
      });
      reader.readAsDataURL(correction_image.files[i]);
    }
  }

  function handleChange(event) {
    let scoreNum = score.value;
    let inputCorrectionNum = inputCorrection.files.length;

    if ((scoreNum != "") && (inputCorrectionNum > 0)) {
      document.getElementById('send').disabled = false;
    } else {
      document.getElementById('send').disabled = true;
    }
  }
</script>