<h1>Admin::Studies#index</h1>
<p>Find me in app/views/admin/studies/index.html.erb</p>

<div class="container">
	<div class="row">
		<h3>答案一覧</h3>
	</div>
	<div class="row">
		<table>
			<thead>
				<th>受信日時</th>
				<th>受講生番号</th>
				<th>クラス</th>
				<th>問題番号</th>
				<th>採点結果</th>
			</thead>
			<% @studies.each do |study| %>
				<tbody>
					<td>
						<%= link_to admin_study_path(study) do %>
							<%= study.created_at.strftime("%Y/%m/%d %H:%M") %>
						<% end %>
					</td>
					<td><%= study.online.membership_number %></td>
					<% if study.question.title.include?("iaf") %>
						<td><%= "数IA 1回目" %></td>
						<td><%= study.question.title.delete("math_iaf_test_").slice(0..1) %></td>
					<% elsif study.question.title.include?("ias") %>
						<td><%= "数IA 2回目" %></td>
						<td><%= study.question.title.delete("math_ias_test_").slice(0..1) %></td>
					<% elsif study.question.title.include?("iibf") %>
						<td><%= "数IIB 1回目" %></td>
						<td><%= study.question.title.delete("math_iibf_test_").slice(0..1) %></td>
					<% elsif study.question.title.include?("iibs") %>
						<td><%= "数IIB 2回目" %></td>
						<td><%= study.question.title.delete("math_iibs_test_").slice(0..1) %></td>
					<% elsif study.question.title.include?("iiicf") %>
						<td><%= "数IIIC 1回目" %></td>
						<td><%= study.question.title.delete("math_iiicf_test_").slice(0..1) %></td>
					<% elsif study.question.title.include?("iiics") %>
						<td><%= "数IIIC 2回目" %></td>
						<td><%= study.question.title.delete("math_iiics_test_").slice(0..1) %></td>
					<% end %>
					<td>
						<% if study.score.present? %>
							<%= study.score %> 点
						<% else %>
							<%= "-" %>
						<% end %>
					</td>
				</tbody>
			<% end %>
		</table>
	</div>
</div>
