<h1>Admin::Studies#show</h1>
<p>Find me in app/views/admin/studies/show.html.erb</p>

<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h4>プロフィール</h4>
			<table class="table">
				<tr><th>受信日時</th></tr>
				<tr><td><%= @study.created_at.strftime("%Y/%m/%d %H:%M") %></td></tr>
				<tr><th>受講生番号</th></tr>
				<tr><td><%= @study.online.membership_number %></td></tr>
				<tr><th>氏名</th></tr>
				<tr><td><%= @study.online.first_name %> <%= @study.online.last_name %></td></tr>
				<tr><th>問題番号</th></tr>
				<tr><td>
					<% if @study.question.title.include?("iaf") %>
						<%= @study.online.course + " " + @study.question.title.delete("math_iaf_test_").slice(0..1) %>
					<% elsif @study.question.title.include?("ias") %>
						<%= @study.online.course + " " + @study.question.title.delete("math_ias_test_").slice(0..1) %>
					<% elsif @study.question.title.include?("iibf") %>
						<%= @study.online.course + " " + @study.question.title.delete("math_iibf_test_").slice(0..1) %>
					<% elsif @study.question.title.include?("iibs") %>
						<%= @study.online.course + " " + @study.question.title.delete("math_iibs_test_").slice(0..1) %>
					<% elsif @study.question.title.include?("iiicf") %>
						<%= @study.online.course + " " + @study.question.title.delete("math_iiicf_test_").slice(0..1) %>
					<% elsif @study.question.title.include?("iiics") %>
						<%= @study.online.course + " " + @study.question.title.delete("math_iiics_test_").slice(0..1) %>
					<% end %>
				</td></tr>
			</table>
		</div>
		<div class="col-sm-4">
			<h4>答案</h4>
			<div>
				<% @answer_images.each do |answer_image| %>
					<figure>
						<%= attachment_image_tag(answer_image, :image, :width => '200') %>
					</figure>
				<% end %>
			</div>
		</div>
		<div class="col-sm-4">
			<h4>添削</h4>
			<div>
				採点結果：<%= @study.score %> 点
			</div>
			<div>
				<% @correction_images.each do |correction_image| %>
					<figure>
						<%= attachment_image_tag(correction_image, :image, :width => '200') %>
					</figure>
				<% end %>
			</div>
			<div>
				<%= link_to "Destroy", admin_study_path(@study), method: :delete, "data-confirm" => "本当に削除しますか?" %>
			</div>
		</div>
	</div>
	<div>
		<%= link_to "Edit", edit_admin_study_path %>
	</div>
</div>
