<div class="row">
  <!-- 答案 -->
  <div class="col-md-6">
    <div class="card margin-vertical-20">
      <div class="card-header text-center">
        <h4>答案</h4>
      </div>
      <div class="card-body">
        <div class="row mb-3 border-bottom">
          <div class="col-4"><%= link_to "編集", edit_admin_study_path, class: "btn btn-link none-text-underline" %></div>
          <div class="col-8 text-end">
          	<button class="btn btn-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#profileCollapse" aria-expanded="false" aria-controls="profileCollapse">受講生情報</button>
          </div>
        </div>
        <!-- コラプス(受講生情報) -->
        <div class="collapse" id="profileCollapse">
          <div class="card card-body">
            <%= render 'online-info', study: @study %>
          </div>
        </div>

        <div class="row">
          <% @answer_images.each do |answer_image| %>
            <figure><%= attachment_image_tag(answer_image, :image, :width => '100%') %></figure>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- 添削 -->
  <div class="col-md-6">
    <div class="card margin-vertical-20">
      <div class="card-header text-center">
        <h4>添削</h4>
      </div>
      <div class="card-body">
        <div class="row mb-3 border-bottom">
          <div class="col-9">
          	<h4><span class="badge bg-light text-dark">採点結果：<%= @study.score %> 点</span></h4>
          </div>
          <button class="col-3 btn btn-link none-text-underline" data-bs-toggle="modal" data-bs-target="#deleteModal">削除</button>
        </div>
        <!-- モーダル(削除) -->
        <div class="modal fade" id="deleteModal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="moda-title" id="modalLabel">内容確認</h5>
                <button class="btn-close" data-bs-dismiss="modal" arial-label="閉じる"></button>
              </div>
              <div class="modal-body">
                <span>本当に削除しますか?</span>
              </div>
              <div class="modal-footer">
                <button class="btn btn-outline-primary" data-bs-dismiss="modal">キャンセル</button>
                <%= link_to "削除する", admin_study_path(@study), method: :delete, class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <% @correction_images.each do |correction_image| %>
            <figure><%= attachment_image_tag(correction_image, :image, :width => '100%') %></figure>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
