<div class="row">
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
    <div class="card margin-vertical-20">
      <div class="card-header text-center">
      	<h4>お支払い履歴</h4>
      </div>
      <div class="card-body">
      	<table class="table">
					<thead>
						<th style="width: 24%">受講クラス</th>
						<th style="width: 38%">申請日</th>
						<th style="width: 38%">振込期日</th>
					</thead>
					<tbody class="border border-start-0 border-end-0">
						<% @payments.each do |payment| %>
							<tr>
								<td><%= payment[0] %></td>
								<td>
									<% if payment[1] == true %>
										<%= link_to "受講申請", payments_path(course: payment[0]),  method: :post, 
											data:{
												confirm: "#{payment[0]}の受講を申請します。<br><br>" +
												"【注意事項】<br>" + 
												"・現在受講中の講座がある方は、受講料のお振込みが確認でき、現在受講中の講座が終了したら、次の講座についての案内を送信いたします。<br>" +
												"・現在受講中の講座がない方(最後に受講した講座がすでに終了している方)は、受講料のお振込みが確認でき次第、次の講座についての案内を送信いたします。",
												cancel: "キャンセル",
												commit: "申請する"
											},
											title: "内容確認" %>
									<% elsif payment[1] != "" %>
										<%= payment[1] %>
									<% end %>
								</td>
								<td>
									<% if payment[2] != "" %>
										<%= payment[2] %>
									<% end %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
      </div>
      <div class="card-footer bg-transparent">
        <%= link_to "戻る", 'javascript:history.back()', class: "btn btn-link" %>
      </div>
    </div>
  </div>
</div>
