<div class="row">
  <div class="col-lg-4 offset-lg-4 col-sm-6 offset-sm-3">
    <div class="card margin-vertical-20">
      <div class="card-header text-center">
        <h4>受講生ログイン</h4>
      </div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="mb-3">
            <%= f.label :membership_number, "受講生番号", class: "form-label" %><br />
            <%= f.text_field :membership_number, autofocus: true, autocomplete: "membership_number", class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= f.label :password, "パスワード", class: "form-label" %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="mb-3 form-check">
              <%= f.check_box :remember_me, class: "form-check-input" %>
              <%= f.label :remember_me, "次回から自動的にログイン", class: "form-check-label" %>
            </div>
          <% end %>

          <div class="actions d-grid gap-2 col-10 mx-auto text-center">
            <%= f.submit "ログイン", class: "btn btn-primary" %>
            <%= link_to "パスワードを忘れた方はこちら", new_password_path(resource_name) %>
          </div>
        <% end %>
      </div>
      <div class="card-footer text-center">
        <div class="actions d-grid gap-2 col-10 mx-auto my-3">
          <%= link_to "新規登録", online_policy_path, class: "btn btn-success" %>
          <%= link_to "保護者様ログインページ", new_parent_session_path, class: "btn btn-outline-secondary" %>
          </div>
      </div>
    </div>
  </div>
</div>
