<div class="row">
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
    <div class="card margin-vertical-20">
      <div class="card-header text-center">
        <h4>登録情報変更</h4>
      </div>
      <div class="card-body">
        <%= form_for(@online, url: {controller: "admin/onlines", action: :update}) do |f| %>
          <table class="table">
            <tr>
              <td style="width: 160px">受講生番号</td>
              <td><%= @online.membership_number %></td>
            </tr>
            <tr class="align-middle">
              <td><%= f.label :status, "会員ステータス", class: "form-label" %></td>
              <td>
                <div class="form-check form-check-inline">
                  <%= f.radio_button :status, :有効, class: "form-check-input" %>
                  <%= f.label :status_有効, "有効", class: "form-check-label" %>
                </div>
                <div class="form-check form-check-inline">
                  <%= f.radio_button :status, :失効, class: "form-check-input" %>
                  <%= f.label :status_失効, "失効", class: "form-check-label" %>
                </div>
              </td>
            </tr>

            <% if @online.errors.include?(:first_name) %>
              <tr class="border border-white"><td colspan="2">
                <%= render "layouts/error_messages", model: @online, attribute: :first_name %>
              </td></tr>
            <% elsif @online.errors.include?(:last_name) %>
              <tr class="border border-white"><td colspan="2">
                <%= render "layouts/error_messages", model: @online, attribute: :last_name %>
              </td></tr>
            <% end %>
            <tr class="align-middle">
              <td><%= f.label :first_name, "名前", class: "form-label" %></td>
              <td>
                <div class="row">
                  <div class="col"><%= f.text_field :first_name, autocomplete: "first_name", class: "form-control" %></div>
                  <div class="col"><%= f.text_field :last_name, autocomplete: "last_name", class: "form-control" %></div>
                </div>
              </td>
            </tr>

            <% if @online.errors.include?(:kana_name) %>
              <tr class="border border-white"><td colspan="2">
                <%= render "layouts/error_messages", model: @online, attribute: :kana_name %>
              </td></tr>
            <% end %>
            <tr class="align-middle">
              <td><%= f.label :kana_name, "名前（カナ）", class: "form-label" %></td>
              <td><%= f.text_field :kana_name, autocomplete: "kana_name", class: "form-control" %></td>
            </tr>

            <% if @online.errors.include?(:parent_name) %>
              <tr class="border border-white"><td colspan="2">
                <%= render "layouts/error_messages", model: @online, attribute: :parent_name %>
              </td></tr>
            <% end %>
            <tr class="align-middle">
              <td><%= f.label :parent_name, "名前（保護者様）", class: "form-label" %></td>
              <td>
                <div class="row">
                  <label id="first_name" class="col col-form-label"><%= @online.first_name %></label>
                  <div class="col"><%= f.text_field :parent_name, autocomplete: "parent_name", class: "form-control" %></div>
                </div>
              </td>
            </tr>

            <% if @online.errors.include?(:gender) %>
              <tr class="border border-white"><td colspan="2">
                <%= render "layouts/error_messages", model: @online, attribute: :gender %>
              </td></tr>
            <% end %>
            <tr class="align-middle">
              <td><%= f.label :gender, "性別", class: "form-label" %></td>
              <td>
                <div class="form-check form-check-inline">
                  <%= f.radio_button :gender, :男性, class: "form-check-input" %>
                  <%= f.label :gender_男性, "男性", class: "form-check-label" %>
                </div>
                <div class="form-check form-check-inline">
                  <%= f.radio_button :gender, :女性, class: "form-check-input" %>
                  <%= f.label :gender_女性, "女性", class: "form-check-label" %>
                </div>
              </td>
            </tr>

            <% if @online.errors.include?(:birthday) %>
              <tr class="border border-white"><td colspan="2">
                <%= render "layouts/error_messages", model: @online, attribute: :birthday %>
              </td></tr>
            <% end %>
            <tr class="align-middle">
              <td><%= f.label :birthday, "生年月日", class: "form-label" %></td>
              <td><%= f.date_field :birthday, autocomplete: "birthday", class: "form-control" %></td>
            </tr>

            <% if @online.errors.include?(:high_school) %>
              <tr class="border border-white"><td colspan="2">
                <%= render "layouts/error_messages", model: @online, attribute: :high_school %>
              </td></tr>
            <% elsif @online.errors.include?(:junior_high_school) %>
              <tr class="border border-white"><td colspan="2">
                <%= render "layouts/error_messages", model: @online, attribute: :junior_high_school %>
              </td></tr>
            <% elsif @online.errors.include?(:elementary_school) %>
              <tr class="border border-white"><td colspan="2">
                <%= render "layouts/error_messages", model: @online, attribute: :elementary_school %>
              </td></tr>
            <% end %>

            <tr class="align-middle">
              <td><%= f.label :high_school, "高校", class: "form-label" %></td>
              <td><%= f.text_field :high_school, autocomplete: "school", class: "form-control" %></td>
            </tr>
            <tr class="align-middle">
              <td><%= f.label :junior_high_school, "中学校", class: "form-label" %></td>
              <td><%= f.text_field :junior_high_school, autocomplete: "school", class: "form-control" %></td>
            </tr>
            <tr class="align-middle">
              <td><%= f.label :elementary_school, "小学校", class: "form-label" %></td>
              <td><%= f.text_field :elementary_school, autocomplete: "school", class: "form-control" %></td>
            </tr>

            <% if @online.errors.include?(:grade) %>
              <tr class="border border-white"><td colspan="2">
                <%= render "layouts/error_messages", model: @online, attribute: :grade %>
              </td></tr>
            <% end %>
            <tr class="align-middle">
              <td><%= f.label :grade, "学年", class: "form-label" %></td>
              <td><%= f.select :grade, Online.grades.keys, {}, class: "grade form-select" %></td>
            </tr>

            <% if @online.errors.include?(:postal_code) %>
              <tr class="border border-white"><td colspan="2">
                <%= render "layouts/error_messages", model: @online, attribute: :postal_code %>
              </td></tr>
            <% end %>
            <tr class="align-middle">
              <td><%= f.label :postal_code, "郵便番号", class: "form-label" %></td>
              <td><%= f.text_field :postal_code, autocomplete: "postal_code", class: "form-control" %></td>
            </tr>

            <% if @online.errors.include?(:prefecture) %>
              <tr class="border border-white"><td colspan="2">
                <%= render "layouts/error_messages", model: @online, attribute: :prefecture %>
              </td></tr>
            <% end %>
            <tr class="align-middle">
              <td><%= f.label :prefecture, "都道府県", class: "form-label" %></td>
              <td><%= f.select :prefecture, Online.prefectures.keys, {}, class: "prefecture form-select" %></td>
            </tr>

            <% if @online.errors.include?(:address) %>
              <tr class="border border-white"><td colspan="2">
                <%= render "layouts/error_messages", model: @online, attribute: :address %>
              </td></tr>
            <% end %>
            <tr class="align-middle">
              <td><%= f.label :address, "市区町村以下の住所", class: "form-label" %></td>
              <td><%= f.text_field :address, autocomplete: "address", class: "form-control" %></td>
            </tr>

            <% if @online.errors.include?(:phone) %>
              <tr class="border border-white"><td colspan="2">
                <%= render "layouts/error_messages", model: @online, attribute: :phone %>
              </td></tr>
            <% end %>
            <tr class="align-middle">
              <td><%= f.label :phone, "電話番号", class: "form-label" %></td>
              <td><%= f.text_field :phone, autocomplete: "phone", class: "form-control" %></td>
            </tr>

            <% if @online.errors.include?(:email) %>
              <tr class="border border-white"><td colspan="2">
                <%= render "layouts/error_messages", model: @online, attribute: :email %>
              </td></tr>
            <% end %>
            <tr class="align-middle">
              <td><%= f.label :email, "E-mail", class: "form-label" %></td>
              <td><%= f.email_field :email, autocomplete: "email", class: "form-control" %></td>
            </tr>

            <% if @online.errors.include?(:parent_email) %>
              <tr class="border border-white"><td colspan="2">
                <%= render "layouts/error_messages", model: @online, attribute: :parent_email %>
              </td></tr>
            <% end %>
            <tr class="align-middle">
              <td><%= f.label :parent_email, "E-mail（保護者様）", class: "form-label" %></td>
              <td><%= f.email_field :parent_email, autocomplete: "parent_email", class: "form-control" %></td>
            </tr>

            <tr class="align-middle">
              <td><%= f.label :note, "備考", class: "form-label" %></td>
              <td><%= f.text_area :note, autocomplete: "note", class: "form-control" %></td>
            </tr>
          </table>

          <div class="actions d-grid gap-2 col-8 mx-auto">
            <%= f.submit "変更内容を登録する", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
  const element = document.querySelector('#online_first_name');
  element.addEventListener('input', handleChange);

  function handleChange(event) {
    const value = event.target.value;
    document.querySelector('#first_name').innerHTML = value;
  }
</script>
