<div class="container">
	<div class="row">
		<h3>登録情報編集画面</h3>
	</div>
		<%= form_for(@online, url: {controller: "admin/onlines", action: :update}) do |f| %>
			<div class="row">
			<h4>登録情報</h4>		
			<table>
				<tr>
					<td>受講生番号</td>
					<td><%= @online.membership_number %></td>
				</tr>
				<tr>
					<td>名前(姓)</td>
					<td><%= f.text_field :first_name, autocomplete: "first_name" %></td>
				</tr>
				<tr>
					<td>名前(名)</td>
					<td><%= f.text_field :last_name, autocomplete: "last_name" %></td>
				</tr>
				<tr>
					<td>名前(カナ)</td>
					<td><%= f.text_field :kana_name, autocomplete: "kana_name" %></td>
				</tr>
				<tr>
					<td>名前(保護者)</td>
					<td><%= f.text_field :parent_name, autocomplete: "parent_name" %></td>
				</tr>
				<tr>
					<td>性別</td>
					<td><%= f.radio_button :gender, :男性 %>男性</td>
					<td><%= f.radio_button :gender, :女性 %>女性</td>
				</tr>
				<tr>
					<td>生年月日</td>
					<td><%= f.date_field :birthday, autocomplete: "birthday" %></td>
				</tr>
				<tr>
					<td>2021年4月からの学校名</td>
					<td><%= f.text_field :school, autocomplete: "school" %></td>
				</tr>
				<tr>
					<td>2021年4月からの学年</td>
					<td><%= f.select :grade, Online.grades.keys, class: "grade" %></td>
				</tr>
				<tr>
					<td>郵便番号</td>
					<td><%= f.text_field :postal_code, autocomplete: "postal_code" %></td>
				</tr>
				<tr>
					<td>都道府県</td>
					<td><%= f.select :prefecture, Online.prefectures.keys, class: "prefecture" %></td>
				</tr>
				<tr>
					<td>市区町村以下の住所</td>
					<td><%= f.text_field :address, autocomplete: "address" %></td>
				</tr>
				<tr>
					<td>電話番号</td>
					<td><%= f.text_field :phone, autocomplete: "phone" %></td>
				</tr>
				<tr>
					<td>E-mail</td>
					<td><%= f.email_field :email, autocomplete: "email" %></td>
				</tr>
				<tr>
					<td>E-mail(保護者)</td>
					<td><%= f.email_field :parent_email, autocomplete: "parent_email" %></td>
				</tr>
				<tr>
					<td>受講科目</td>
					<td><%= f.select :subject, Online.subjects.keys, class: "subject" %></td>
				</tr>
			</table>
		</div>
		<div>
			<%= f.submit "Save the change", class: "btn btn-primary btn-lg center-block" %>
		</div>
	<% end %>
</div>
