<div class="container">
	<div class="row">
		<h3>登録情報確認画面</h3>
	</div>
	<div class="row">
		<h4>登録情報</h4>
		<table>
			<thead>
				<th>受講生番号</th>
				<th>氏名</th>
				<th>受講科目</th>
				<th>学年</th>
				<th>ステータス</th>
			</thead>
			<% @onlines.each do |online| %>
				<tbody>
					<td><%= online.membership_number %></td>
					<td>
						<%= link_to admin_online_path(online) do %>
							<%= online.first_name %> <%= online.last_name %>
						<% end %>
					</td>
					<td><%= online.course %></td>
					<td><%= online.grade %></td>
					<td><%= online.status %></td>
				</tbody>
			<% end %>
		</table>
	</div>
</div>
