<div class="container">
	<div class="row">
		<h3>登録情報確認画面</h3>
	</div>
	<div class="row">
		<h4>登録情報</h4>
		<table>
			<tr>
				<td>受講生番号</td>
				<td><%= @online.membership_number %></td>
			</tr>
			<tr>
				<td>名前(姓)</td>
				<td><%= @online.first_name %></td>
			</tr>
			<tr>
				<td>名前(名)</td>
				<td><%= @online.last_name %></td>
			</tr>
			<tr>
				<td>名前(カナ)</td>
				<td><%= @online.kana_name %></td>
			</tr>
			<tr>
				<td>名前(保護者)</td>
				<td><%= @online.parent_name %></td>
			</tr>
			<tr>
				<td>性別</td>
				<td><%= @online.gender %></td>
			</tr>
			<tr>
				<td>生年月日</td>
				<td><%= @online.birthday %></td>
			</tr>
			<tr>
				<td>2021年4月からの学校名</td>
				<td><%= @online.school %></td>
			</tr>
			<tr>
				<td>2021年4月からの学年</td>
				<td><%= @online.grade %></td>
			</tr>
			<tr>
				<td>郵便番号</td>
				<td><%= @online.postal_code %></td>
			</tr>
			<tr>
				<td>都道府県</td>
				<td><%= @online.prefecture %></td>
			</tr>
			<tr>
				<td>市区町村以下の住所</td>
				<td><%= @online.address %></td>
			</tr>
			<tr>
				<td>電話番号</td>
				<td><%= @online.phone %></td>
			</tr>
			<tr>
				<td>E-mail</td>
				<td><%= @online.email %></td>
			</tr>
			<tr>
				<td>E-mail(保護者)</td>
				<td><%= @online.parent_email %></td>
			</tr>
		</table>
	</div>
	<div>
		<%= link_to "Edit", edit_admin_online_path, class: "btn btn-primary btn-lg center-block" %>
	</div>

	<div class="row">
		<h3>学習履歴一覧</h3>
	</div>
	<div class="row">
		<table>
			<thead>
				<th>クラス</th>
				<th>問題番号</th>
				<th>学習日時</th>
				<th>得点</th>
			</thead>
			<% @studies.each do |study| %>
				<tbody>
					<% if study.question.title.include?("iaf") %>
						<td><%= "数IA 1回目" %></td>
						<td><%= study.question.title.delete("math_iaf_test_").slice(0..1) %></td>
					<% elsif study.question.title.include?("ias") %>
						<td><%= "数IA 2回目" %></td>
						<td><%= study.question.title.delete("math_ias_test_").slice(0..1) %></td>
					<% elsif study.question.title.include?("iibf") %>
						<td><%= "数IIB 1回目" %></td>
						<td><%= study.question.title.delete("math_iibf_test_").slice(0..1) %></td>
					<% elsif study.question.title.include?("iibs") %>
						<td><%= "数IIB 2回目" %></td>
						<td><%= study.question.title.delete("math_iibs_test_").slice(0..1) %></td>
					<% elsif study.question.title.include?("iiicf") %>
						<td><%= "数IIIC 1回目" %></td>
						<td><%= study.question.title.delete("math_iiicf_test_").slice(0..1) %></td>
					<% elsif study.question.title.include?("iiics") %>
						<td><%= "数IIIC 2回目" %></td>
						<td><%= study.question.title.delete("math_iiics_test_").slice(0..1) %></td>
					<% end %>
					<td>
						<%= study.created_at.strftime("%Y/%m/%d %H:%M") %>
					</td>
					<td>
						<% if study.score.present? %>
							<%= link_to study_path(study) do %>
								<%= study.score %> 点
							<% end %>
						<% else %>
							<%= "採点中" %>
						<% end %>
					</td>
				</tbody>
			<% end %>
		</table>
	</div>
</div>
