<div class="container">
	<div class="row">
		<h3>登録情報確認画面</h3>
	</div>
	<div class="row">
		<h4>登録情報</h4>
		<table>
			<tr>
				<td>受講生番号</td>
				<td><%= @online.membership_number %></td>
			</tr>
			<tr>
				<td>会員ステータス</td>
				<td><%= @online.status %></td>
			</tr>
			<tr>
				<td>登録日</td>
				<td><%= @online.created_at.strftime("%Y年%m月%d日") %></td>
			</tr>
			<tr>
				<td>名前(姓)</td>
				<td><%= @online.first_name %></td>
			</tr>
			<tr>
				<td>名前(名)</td>
				<td><%= @online.last_name %></td>
			</tr>
			<tr>
				<td>名前(カナ)</td>
				<td><%= @online.kana_name %></td>
			</tr>
			<tr>
				<td>名前(保護者)</td>
				<td><%= @online.parent_name %></td>
			</tr>
			<tr>
				<td>性別</td>
				<td><%= @online.gender %></td>
			</tr>
			<tr>
				<td>生年月日</td>
				<td><%= @online.birthday %></td>
			</tr>
			<tr>
				<% if @online.high_school != "" %>
					<td>高校</td>
					<td><%= @online.high_school %></td>
				<% end %>
			</tr>
			<tr>
				<% if @online.junior_high_school != "" %>
					<td>中学校</td>
					<td><%= @online.junior_high_school %></td>
				<% end %>
			</tr>
			<tr>
				<% if @online.elementary_school != "" %>
					<td>小学校</td>
					<td><%= @online.elementary_school %></td>
				<% end %>
			</tr>
			<tr>
				<td>学年</td>
				<td><%= @online.grade %></td>
			</tr>
			<tr>
				<td>郵便番号</td>
				<td><%= @online.postal_code %></td>
			</tr>
			<tr>
				<td>都道府県</td>
				<td><%= @online.prefecture %></td>
			</tr>
			<tr>
				<td>市区町村以下の住所</td>
				<td><%= @online.address %></td>
			</tr>
			<tr>
				<td>電話番号</td>
				<td><%= @online.phone %></td>
			</tr>
			<tr>
				<td>E-mail</td>
				<td><%= @online.email %></td>
			</tr>
			<tr>
				<td>E-mail(保護者)</td>
				<td><%= @online.parent_email %></td>
			</tr>
			<tr>
				<td>受講科目</td>
				<td><%= @online.course %></td>
			</tr>
			<tr>
				<td>備考</td>
				<td><%= @online.note %></td>
			</tr>
		</table>
	</div>
	<div>
		<%= link_to "Edit", edit_admin_online_path, class: "btn btn-primary btn-lg center-block" %>
	</div>

	<div class="row">
		<h3>単元テスト</h3>
	</div>
	<div class="row">
		<table>
			<thead>
				<th></th>
				<th>1回目</th>
				<th>2回目</th>
				<th>3回目</th>
				<th>平均点</th>
			</thead>
			<tbody>
				<tr>
					<td>数IA 1回目</td>
					<td><%= @iafScore[0] %></td>
					<td><%= @iafScore[1] %></td>
					<td><%= @iafScore[2] %></td>
					<td><%= @iafAverage %></td>
				</tr>
				<tr>
					<td>数IA 2回目</td>
					<td><%=  %></td>
					<td><%=  %></td>
					<td><%=  %></td>
					<td><%=  %></td>
				</tr>
				<tr>
					<td>数IIB 1回目</td>
					<td><%=  %></td>
					<td><%=  %></td>
					<td><%=  %></td>
					<td><%=  %></td>
				</tr>
				<tr>
					<td>数IIB 2回目</td>
					<td><%=  %></td>
					<td><%=  %></td>
					<td><%=  %></td>
					<td><%=  %></td>
				</tr>
				<tr>
					<td>数IIIC 1回目</td>
					<td><%=  %></td>
					<td><%=  %></td>
					<td><%=  %></td>
					<td><%=  %></td>
				</tr>
				<tr>
					<td>数IIIC 2回目</td>
					<td><%=  %></td>
					<td><%=  %></td>
					<td><%=  %></td>
					<td><%=  %></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
		<h3>学習履歴一覧</h3>
	</div>
	<div class="row">
		<table>
			<thead>
				<th>クラス</th>
				<th>問題番号</th>
				<th>学習日時</th>
				<th>解答時間(分)</th>
				<th>得点</th>
			</thead>
			<% @studies.each do |study| %>
				<tbody>
					<td><%= study.online.course %></td>
					<% if study.question.title.include?("iaf") %>
						<td><%= study.question.title.delete("math_iaf_test_").slice(0..1) %></td>
					<% elsif study.question.title.include?("ias") %>
						<td><%= study.question.title.delete("math_ias_test_").slice(0..1) %></td>
					<% elsif study.question.title.include?("iibf") %>
						<td><%= study.question.title.delete("math_iibf_test_").slice(0..1) %></td>
					<% elsif study.question.title.include?("iibs") %>
						<td><%= study.question.title.delete("math_iibs_test_").slice(0..1) %></td>
					<% elsif study.question.title.include?("iiicf") %>
						<td><%= study.question.title.delete("math_iiicf_test_").slice(0..1) %></td>
					<% elsif study.question.title.include?("iiics") %>
						<td><%= study.question.title.delete("math_iiics_test_").slice(0..1) %></td>
					<% end %>
					<td><%= study.created_at.strftime("%Y/%m/%d %H:%M") %></td>
					<td><%= study.answer_time / 60 %></td>
					<td>
						<%= link_to admin_study_path(study) do %>
							<% if study.score.present? %>
								<%= study.score %> 点
							<% else %>
								<%= "採点中" %>
							<% end %>
						<% end %>
					</td>
				</tbody>
			<% end %>
		</table>
	</div>
</div>
