<h1>Reports#index</h1>
<p>Find me in app/views/reports/index.html.erb</p>

<div class="container">
	<div class="row">
		<h3>単元テスト</h3>
	</div>
	<div class="row">
		<table>
			<thead>
				<th></th>
				<th>1回目</th>
				<th>2回目</th>
				<th>3回目</th>
				<th>平均点</th>
			</thead>
			<tbody>
				<tr>
					<td>数IA 1回目</td>
					<td><%= @iafScore[0] %></td>
					<td><%= @iafScore[1] %></td>
					<td><%= @iafScore[2] %></td>
					<td><%= @iafAverage %></td>
				</tr>
				<tr>
					<td>数IA 2回目</td>
					<td><%=  %></td>
					<td><%=  %></td>
					<td><%=  %></td>
					<td><%=  %></td>
				</tr>
				<tr>
					<td>数IIB 1回目</td>
					<td><%=  %></td>
					<td><%=  %></td>
					<td><%=  %></td>
					<td><%=  %></td>
				</tr>
				<tr>
					<td>数IIB 2回目</td>
					<td><%=  %></td>
					<td><%=  %></td>
					<td><%=  %></td>
					<td><%=  %></td>
				</tr>
				<tr>
					<td>数IIIC 1回目</td>
					<td><%=  %></td>
					<td><%=  %></td>
					<td><%=  %></td>
					<td><%=  %></td>
				</tr>
				<tr>
					<td>数IIIC 2回目</td>
					<td><%=  %></td>
					<td><%=  %></td>
					<td><%=  %></td>
					<td><%=  %></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
		<h3>答案一覧</h3>
	</div>
	<div class="row">
		<table>
			<thead>
				<th>受講日</th>
				<th>クラス</th>
				<th>問題番号</th>
				<th>解答時間(分)</th>
				<th>採点結果</th>
			</thead>
			<% @studies.each do |study| %>
				<tbody>
					<td><%= study.created_at.strftime("%Y/%m/%d") %></td>
					<% if study.question.title.include?("iaf") %>
						<td>数IA 1回目</td>
						<td><%= study.question.title.slice(14, 2) %></td>
					<% elsif study.question.title.include?("ias") %>
						<td>数IA 2回目</td>
						<td><%= study.question.title.slice(14, 2) %></td>
					<% elsif study.question.title.include?("iibf") %>
						<td>数IIB 1回目</td>
						<td><%= study.question.title.slice(15, 2) %></td>
					<% elsif study.question.title.include?("iibs") %>
						<td>数IIB 2回目</td>
						<td><%= study.question.title.slice(15, 2) %></td>
					<% elsif study.question.title.include?("iiicf") %>
						<td>数IIIC 1回目</td>
						<td><%= study.question.title.slice(16, 2) %></td>
					<% elsif study.question.title.include?("iiics") %>
						<td>数IIIC 2回目</td>
						<td><%= study.question.title.slice(16, 2) %></td>
					<% end %>
					<td><%= study.answer_time / 60 %></td>
					<td>
						<% if study.score.present? %>
							<%= study.score %> 点
						<% else %>
							<%= "-" %>
						<% end %>
					</td>
				</tbody>
			<% end %>
		</table>
	</div>
</div>